<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="username" id="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password" id="password">
    </div>
    <button>Login</button>
</form>