{{>header}}

<body>
    <h1>All Campgrounds</h1>
    <ul>
        <a href="/campgrounds/new">Create new</a>
        {{#each campgrounds}}
        <li><a href="/campgrounds/{{{this._id}}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
</body>

</html>