{{>header}}

<div class="container">
    <h1>All Campgrounds</h1>
    <ul>
        {{#each campgrounds}}
        <li><a href="/campgrounds/{{{this._id}}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
</div>

{{>footer}}
